* {
    font-family: sans-serif;
    font-size: ;
}
body {
    background-color: black;
    margin: 0px auto;
    width: 754px;
    padding: 0;
    display: block;
}

#b-white {
    background-color: white;
    width: 754px;
    height: 1012px;
    display:inline-block;
}
nav {
    margin: 5px 5px;
    background-color: rgb(32, 32, 32);
    height: 35px;
}
ul {
    margin: 0px;
    margin-left: -30px;
    display: inline-block;
    
}

li {
    color: rgb(153, 153, 153);
    list-style: none;
    height: 35px;
    line-height: 35px;
    display: inline;
    margin: 0px;
    padding: 5px 10px; 
}

.li-2 {
    background-color: rgb(204, 204, 204);
    color: rgb(97, 97, 97);
    padding: 11px 20px 9px 20px;
    height: 35px;
    font-size: small;
    font-weight:bolder;
}
.li-3{
    font-size: small;
    font-weight:bolder;
}
.carousel {
    background-color: rgb(231, 231, 231);
    height: 190px;
    margin: -5px 5px;
}
section h2{
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: rgb(100, 100, 100);
}
cite{
    font-style: normal;
    font-size: small;
}
#s2{
    text-align: center;
}
article{
    background-color: rgb(231, 231, 231);
    height: 280px;
    width: 32%;
    margin: -5px 2px;
    display: inline-block;
}

hr{
    
    margin-top: 105px;
    height: 1px;
    width: 96%;
    background-color: rgb(100, 100, 100);
}

form{
    text-align: center;
}
form h2{
    margin: 10px 10px 20px 13px;
    color: rgb(100, 100, 100);
    text-align: left;
}
input{
    width: 80%;
    margin: 7px auto;
    border-radius: 1px ;
}
textarea{
    width: 80%;
    height: 110px;
    margin: 2px auto;

}